<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBot</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body  >
    <img class="background-image" src="{{ url_for('static', filename='assets/images/globalagriculture.jpg') }}" alt="globalagriculture.jpeg">

    <!-- Barre de navigation -->
    <nav>
      <div class="nav-left">
          <img src="{{ url_for('static', filename='assets/images/logo.png') }}"  alt="Logo Agriculture" class="logo">
          
      </div>
      <div class="nav-right" >
        <a href="{{ url_for('chat_bot') }}">
            <button class="start-now">Start Now</button>
        </a>    
      </div>
  </nav>
  

    <!-- Section principale -->
    <main>
        <section class="hero">
            <h1>Bienvenue dans le monde de l'agriculture</h1>
            <p>Découvrez des solutions innovantes pour une agriculture durable et respectueuse de l'environnement.</p>
            <a href="{{ url_for('chat_bot')}}">
                <button class="start-now" href="{{ url_for('chat_bot')}}">Start Now</button>
            </a>
        </section>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const startNowButton = document.querySelector('.hero .start-now');
            setTimeout(() => {
                startNowButton.classList.add('pulse-animation');
            }, 2000);
        });
    </script>
</body>
</html>